<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>WideResponsive07</title>
  <link rel="stylesheet" href="/twp/demo-bridge.css" />
  <script src="/twp/demo-bridge.js"></script>
</head>
<body class="h-full">
  
  <div class="twp-root">
    <div class="sm:flex"><div class="mb-4 shrink-0 sm:mr-4 sm:mb-0"><svg fill="none" stroke="currentColor" viewBox="0 0 200 200" preserveAspectRatio="none" aria-hidden="true" class="h-32 w-full border border-gray-300 bg-white text-gray-300 sm:w-32 dark:border-white/15 dark:bg-gray-900 dark:text-white/15"><path d="M0 0l200 200M0 200L200 0" stroke-width="1" vector-effect="non-scaling-stroke"></path></svg></div><div><h4 class="text-lg font-bold text-gray-900 dark:text-white">Lorem ipsum</h4><p class="mt-1 text-gray-500 dark:text-gray-400">Repudiandae sint consequuntur vel. Amet ut nobis explicabo numquam expedita quia omnis voluptatem. Minus quidem ipsam quia iusto.</p></div></div>
  </div>
</body>
</html>
